/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
html {
  overflow-y: scroll;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  font: 100.01%/1.5 'Open Sans', sans-serif;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.67rem;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
ul li {
  list-style: none;
}
.inner-wrap {
  max-width: 1000px;
  margin: 0.5rem auto 0 auto;
}
.inner-wrap-main {
  overflow: auto;
}
.region-main,
.region-sidebar-left,
.region-sidebar-right {
  overflow: auto;
}
.region-main {
  width: 80%;
  margin-left: 3%;
  margin-bottom: 2rem;
  float: left;
  overflow: auto;
  margin-left: 0;
}
.region-main.has-sidebar {
  margin-left: 0;
  width: 70%;
}
.region-main.has-sidebar-left.has-sidebar-right {
  width: 60%;
}
.region-sidebar-left,
.region-sidebar-right {
  width: 30%;
  float: left;
}
.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
  width: 20%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
.article h1 {
  margin-top: 1rem;
}
.has-sidebar-right {
  margin-top: 1rem;
}
.author-byline {
  border: 1px solid black;
  margin-bottom: 3rem;
  padding: 1rem;
  overflow: auto;
}
.author-byline img {
  border-radius: 50%;
}
.next-previous .next {
  float: right;
  text-align: right;
  padding-bottom: 2rem;
}
.next {
  padding-left: 1rem;
}
.share {
  display: none;
}
.breadcrumb-list ul {
  padding-left: 0;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
  * Navbar
  */
@media screen and (max-width: 960px) {
  .rm-desktop a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media screen and (max-width: 800px) {
  .region-header-col-1,
  .region-header-col-3 {
    width: 15%;
  }
  .region-header-col-2 {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .rm-desktop {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
* A responsive menu.
*/
/**
 * Style for responsive menu
 */
/**
 * Outer wrapper for menu
 */
.rm-navbar {
  position: relative;
}
.rm-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/**
 * Avoid scrolling mobile devices
 * OBSOLETE?
 */
/**
 * Meny layout for the small buttonized menu.
 */
.rm-small {
  display: none;
  float: right;
}
a.rm-button {
  display: inline-block;
  color: inherit;
  background-color: transparent;
  outline: none;
}
a.rm-button:active {
  color: inherit;
  background-color: transparent;
}
a.rm-button .rm-button-face-1 {
  position: absolute;
  transition: color 0.1s ease;
}
a.rm-button .rm-button-face-2 {
  position: relative;
  color: transparent;
  transition: color 0.1s ease;
}
a.rm-button.rm-clicked {
  color: #9FB129;
  background-color: transparent;
}
a.rm-button.rm-clicked .rm-button-face-1 {
  color: transparent;
}
a.rm-button.rm-clicked .rm-button-face-2 {
  z-index: 2;
  color: inherit;
}
/**
 * Standard meny layout, valid for any subtype.
 */
.rm-default li {
  display: inline-block;
}
.rm-default li li {
  display: block;
  min-width: 10em;
}
.rm-default a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 1em;
  outline: none;
}
.rm-default ul {
  position: absolute;
  z-index: 9999;
  left: -9999px;
}
.rm-default ul.rm-show-submenu {
  left: 0;
}
.rm-default ul li {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}
.rm-default ul ul {
  left: -9999px;
}
/**
 * Menu layout for the desktop variant, usually full width of browser.
 */
.rm-desktop ul {
  background-color: inherit;
}
.rm-desktop li {
  position: relative;
}
.rm-desktop li a:hover,
.rm-desktop li.current-menu-item a {
  text-decoration: underline;
}
.rm-desktop li a {
  color: inherit;
  background-color: inherit;
}
.rm-desktop li a:hover {
  color: inherit;
  background-color: inherit;
}
.rm-desktop li:hover > ul {
  left: 0;
}
.rm-desktop li:hover > ul.rm-submenu-level-1 {
  left: auto;
  left: 30%;
}
.rm-desktop li .rm-submenu-button {
  display: none;
}
/**
 * Menu layout for the mobile variant, usually for mobile screens.
 */
.rm-mobile {
  width: 100%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  background-color: #444;
  color: #fff;
}
.rm-mobile a {
  color: inherit;
}
.rm-mobile li {
  display: block;
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.4);
  /*        // Header of submenu is closed
        //&.sub-menu, // For WordPress menu generating
        &.rm-submenu > a:before {
            content: "\f0d7";
        }

        // Header of submenu is opened
        &.rm-submenu-open > a:before {
            content: "\f0d8";
        }
*/
}
.rm-mobile li.rm-submenu-open > ul {
  position: relative;
  left: 0;
}
/**
 * Menu layout for the max variant, for mobile screens and complete menues.
 * Swipe from right by default.
 */
.rm-max.rm-navbar {
  position: absolute;
  top: 16px;
  right: 24px;
}
.rm-max .rm-small {
  display: block;
}
.rm-max .rm-small .rm-button {
  color: inherit;
}
.rm-max .rm-small .rm-button.rm-clicked {
  color: #9FB129;
  position: fixed;
  top: 16px;
  right: 24px;
  z-index: 999;
}
.rm-max .rm-mobile {
  transition: all 0.15s linear;
  position: fixed;
  z-index: 998;
  top: 0;
  transform: translateX(100%);
  width: 500px;
  max-width: 500px;
  height: 500px;
  overflow-y: auto;
  padding-top: 72px;
  background-color: #131313;
  /* Color when menu item is clicked */
  /* Button for submenu */
  /* Style for submenu */
}
.rm-max .rm-mobile li a:active {
  background-color: transparent;
}
.rm-max .rm-mobile.rm-clicked {
  transform: translateX(0);
}
.rm-max .rm-mobile a:hover {
  text-decoration: underline;
}
.rm-max .rm-mobile .rm-submenu-button {
  float: right;
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.4);
  background-color: #444;
  padding: 8px 24px;
  margin-right: 8px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.rm-max .rm-mobile .rm-submenu-button:after {
  content: "\25BC";
}
.rm-max .rm-mobile .rm-submenu-button:hover {
  text-decoration: none;
  background-color: #ccc;
}
.rm-max .rm-mobile li ul {
  padding-left: 8px;
}
.rm-max .rm-mobile .rm-submenu-open > .rm-submenu-button:after {
  content: "\25B2";
}
.rm-max.rm-swipe-left .rm-mobile {
  left: 0;
}
.rm-max.rm-swipe-right .rm-mobile {
  right: 0;
}
/**
 * Style for responsive menu
 */
/**
 * Example of media queries
*/
@media screen and (max-width: 680px) {
  .rm-small {
    display: block;
  }
  .rm-desktop {
    display: none;
  }
}
@media screen and (min-width: 680px) {
  .rm-small {
    display: none;
  }
}
/**
 * My own settings, not currently in their own module. */
